@import url("variables.css");
/* ==== BUTTONS ==== */
/* Button-sm */
.button-sm {
  padding: 1rem 2rem;
  width: 17.7rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
/* Button-md */
.button-md {
  padding: 2rem 6rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
/* Button-lg */
.button-lg {
  padding: 2rem 6rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
/* Send newsletter button */
.send-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  background-color: var(--btn-bcg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
/* Contact button */
.contact-btn {
  background-color: #cbcbcb;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: center;
  margin: 2.4rem 0;
}
/* Go back button */
.go-back-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: var(--space-sm);
}
/* Button text */
.button-lg h2 {
  color: var(--btn-txt);
  font-family: var(--heading-font);
  font-size: var(--font-md);
  font-weight: 700;
}
.button-sm h2,
.send-button h2,
.button-md h2,
.contact-btn h2 {
  color: var(--btn-txt);
  font-family: var(--heading-font);
  font-size: var(--font-sm);
  font-weight: 700;
}
/* ==== BUTTON STATES ==== */
/* Hober */
.button-sm:hover,
.button-md:hover,
.button-lg:hover,
.send-button:hover {
  border: 2px solid #0067ff;
  background: #7baef9;
}
.button-sm:active,
.button-md:active,
.button-lg:active,
.send-button:active {
  background: #4e95ff;
}
.button-sm:focus,
.button-md:focus,
.button-lg:focus,
.send-button:focus {
  border: 4px solid #ff6d59;
  background: #68a4ff;
}
