@import url("variables.css");
/* ==== BUTTONS ==== */
/* Button-lg */
.button-sm {
  padding: 1rem 2rem;
  width: 17.7rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
.button-md {
  padding: 2rem 6rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
.button-lg h2 {
  color: var(--btn-txt);
  font-family: var(--heading-font);
  font-size: var(--font-md);
  font-weight: 700;
}
.button-sm h2,
.send-button h2,
.button-md h2,
.contact-btn h2 {
  color: var(--btn-txt);
  font-family: var(--heading-font);
  font-size: var(--font-sm);
  font-weight: 700;
}
.button-lg {
  padding: 2rem 6rem;
  background-color: var(--btn-bcg);
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(104, 164, 255, 0.3);
}
.send-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  background-color: var(--btn-bcg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.contact-btn {
  background-color: #cbcbcb;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: center;
  margin: 2.4rem 0;
}
.go-back-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: var(--space-sm);
}
