@import url(variables.css);
@media screen and (min-width: 768px) {
  /* ==== HEADER ==== */
  #desktop-logo {
    display: inline-block;
  }
  #mobile-logo {
    display: none;
  }
  .send-button {
    width: 14.5rem;
  }
}
@media screen and (min-width: 1000px) {
  /* Logo */
  .logo {
    font-size: var(--font-md);
    font-family: var(--logo-font);
    font-weight: 700;
  }
  .article-card-desktop img {
    width: 56rem;
  }
  /* Navigation */
  .main-nav ul {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    font-family: var(--heading-font);
    font-size: var(--font-sm);
    font-weight: 400;
  }
  /* ==== INFO CARD ==== */
  .info-card form {
    width: 71rem;
    align-items: baseline;
  }
  .info-card input {
    width: 71rem;
  }
  /* ==== FOOTER ==== */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-md);
    align-items: flex-start;
  }
  .secondary-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
  }
}
@media screen and (min-width: 1440px) {
  /* ==== NAVIGATION ==== */
  #mobile-menu-icon {
    display: none;
  }
  nav {
    display: flex;
  }
  /* ==== HERO ==== */
  .hero {
    min-height: 61rem;
  }
  .hero h3 {
    display: block;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Mono";
    font-size: var(--font-sm);
    font-weight: 400;
    width: 77rem;
  }
  /* ==== SECTIONS ==== */
  .section-heading {
    justify-content: flex-start;
    margin: var(--space-xxl) 0 var(--space-xl) 0;
    margin-left: 148px;
  }
  .events-section {
    margin-top: 0;
  }
  .content-container {
    margin-top: 0;
    gap: var(--space-xxl);
  }
  /* ==== ARTICLES ==== */
  .article-card {
    display: none;
  }
  .article-card-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--space-md);
    border-radius: 2rem;
    padding: var(--space-lg) 116px;
    gap: var(--space-xxl);
    align-items: center;
  }
  .card-description {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    order: 2;
    text-align: left;
  }
  .card-description h2 {
    text-align: left;
  }
  /* Image right */
  .img-right {
    display: flex;
  }
  .img-right .card-description {
    order: 1;
  }

  /* ==== INFO CARDS ==== */
  .info-card {
    margin: var(--space-xxl) 0;
  }
  .info-card h2,
  .info-card p {
    width: 68rem;
  }
  .send-button {
    text-align: center;
  }
  /* ==== VISIT ==== */

  /* ==== FOOTER ==== */
  footer {
    margin-top: 0;
  }
}
