@import url(variables.css);
@media screen and (min-width: 768px) {
  /* ==== HEADER ==== */
  #desktop-logo {
    display: inline-block;
  }
  #mobile-logo {
    display: none;
  }
  .send-button {
    width: 14.5rem;
  }
}
@media screen and (min-width: 1000px) {
  /* Logo */
  hr {
    display: block;
  }
  .logo {
    font-size: var(--font-md);
    font-family: var(--logo-font);
    font-weight: 700;
  }
  .page-heading {
    margin: var(--space-xl) 0;
  }
  .article-card-desktop img {
    width: 56rem;
  }
  /* Navigation */
  .main-nav ul {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    font-family: var(--heading-font);
    font-size: var(--font-sm);
    font-weight: 400;
  }
  .logo-a:hover {
    cursor: pointer;
  }
  .main-nav li:hover {
    cursor: pointer;
    color: #ff8979;
    text-decoration: underline;
  }
  .main-nav li:active {
    color: var(--primary-txt);
    text-decoration: none;
  }
  .main-nav li:focus {
    border: 2px solid #ff6d59;
  }

  /* Museum info */
  .vital-info {
    display: flex;
    justify-content: center;
    gap: 24.8rem;
  }
  .section-heading {
    justify-content: flex-start;
    text-align: left;
    margin-left: 14.8rem;
  }
  #find-us,
  #opening-times {
    width: 45rem;
  }
  #find-us {
    order: 2;
  }
  /* ==== INFO CARD ==== */
  .info-card form {
    width: 71rem;
    align-items: baseline;
  }
  .info-card input {
    width: 71rem;
  }
  .visit-info-card {
    padding-left: 14.8rem;
  }
  .article-card-desktop img {
    display: block;
  }
  .vital-info #opening-times {
    margin-top: 0;
  }
  /* ==== ABOUT ==== */
  #our-vision p {
    padding: 0 14.8rem;
  }
  .get-involved {
    padding: var(--space-md) 0;
  }
  .get-involved p,
  .get-involved .card-heading {
    padding: 0 14.8rem;
  }
  /* ==== ABOUT ==== */
  .contact-section {
    margin: 0 14.8rem;
  }
  .contact-section .section-heading {
    margin-left: 0;
    margin-bottom: var(--space-lg);
  }
  .contact-section input {
    margin-bottom: var(--space-md);
  }
  .contact-info {
    gap: var(--space-xxl);
  }
  .contact-message {
    margin-bottom: var(--space-xxl);
  }
  /* === COMING SOON */
  .coming-soon-content {
    margin: var(--space-xl) 14.8rem;
  }
  .coming-soon-content .section-heading {
    margin-left: 0;
  }
  .go-back-btn {
    margin-top: var(--space-lg);
  }
  /* ==== FOOTER ==== */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-md);
    align-items: flex-start;
    margin-top: var(--space-xxl);
  }
  .secondary-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
  }
  /* ==== UTILITY CLASSES ==== */
  .mg-tb {
    margin: 12rem 0 8rem 14.8rem;
  }
  .mg-top {
    margin-top: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  /* ==== NAVIGATION ==== */
  #mobile-menu-icon {
    display: none;
  }
  nav {
    display: flex;
  }
  /* ==== HERO ==== */
  .hero {
    min-height: 61rem;
  }
  .hero h3 {
    display: block;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Mono";
    font-size: var(--font-sm);
    font-weight: 400;
    width: 77rem;
  }
  /* ==== SECTIONS ==== */
  .events-section {
    margin-top: 0;
  }
  .content-container {
    margin-top: 0;
    gap: var(--space-xxl);
  }
  /* ==== ARTICLES ==== */
  .article-card {
    display: none;
  }
  .article-card-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--space-md);
    border-radius: 2rem;
    padding: var(--space-lg) 11.6rem;
    gap: var(--space-xxl);
    align-items: center;
  }
  .card-description {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    order: 2;
    text-align: left;
  }
  .card-description h2 {
    text-align: left;
  }
  /* Image right */
  .img-right {
    display: flex;
  }
  .img-right .card-description {
    order: 1;
  }
  /* ==== INFO CARDS ==== */
  .info-card h2,
  .info-card p {
    width: 68rem;
  }
  .send-button {
    text-align: center;
  }
  /* Events */
  #events .info-card .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xxl);
  }
  #events .info-card img {
    display: inline-block;
    order: 1;
  }
  #events .info-card p {
    order: 2;
  }
  .practical-container {
    display: flex;
    margin: 0 14.8rem;
    justify-content: space-between;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
  }
  .right-side {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    margin-top: 0;
  }
  .practical-info-container {
    width: 44.8rem;
  }
  .teachers-and-researchers {
    display: flex;
    flex-direction: column;
  }
  .visit-info-card img {
    display: block;
    width: 56rem;
    height: 42rem;
  }
  .visit-info-card {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2rem;
    padding: var(--space-lg) 14.8rem;
    gap: var(--space-xxl);
    align-items: center;
  }
  /* ==== ABOUT ==== */
  .get-involved-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .get-involved p,
  .get-involved .card-heading {
    padding: 0 var(--space-md);
  }
  .get-involved .section-heading {
    justify-content: center;
  }
  /* ==== COMING SOON ==== */
  .coming-soon-content {
    margin: 0 auto;
    width: 68rem;
  }
  /* ==== FOOTER ==== */
  footer {
    margin-top: var(--space-xxl);
  }
}
