@media screen and (min-width: 768px) {
  /* ==== HEADER ==== */
  #desktop-logo {
    display: inline-block;
  }
  #mobile-logo {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  /* ==== Images ==== */

  /* Article cards */
  .article-card {
    flex-direction: row;
  }
  article img {
    width: 56rem;
    order: 1;
  }
  .article-card .card-heading,
  .article-card .card-description {
    order: 2;
  }
  .article-card .card-heading,
  .article-card .card-description {
    flex: 1;
  }
}
@media screen and (min-width: 1024px) {
  /* Logo */
  .logo {
    font-size: var(--font-md);
    font-family: var(--logo-font);
    font-weight: 700;
  }
  /* Navigation */
  .main-nav ul {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    font-family: var(--heading-font);
    font-size: var(--font-sm);
    font-weight: 400;
  }
  /* ==== FOOTER ==== */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-md);
    align-items: flex-start;
  }
  .secondary-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
  }
}
