@import url(variables.css);
@media screen and (min-width: 768px) {
  /* ==== HEADER ==== */
  #desktop-logo {
    display: inline-block;
  }
  #mobile-logo {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  /* Logo */
  .logo {
    font-size: var(--font-md);
    font-family: var(--logo-font);
    font-weight: 700;
  }
  /* Navigation */
  .main-nav ul {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    font-family: var(--heading-font);
    font-size: var(--font-sm);
    font-weight: 400;
  }
  /* ==== FOOTER ==== */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-md);
    align-items: flex-start;
  }
  .secondary-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
  }
  /* ==== FOOTER ==== */
  .secondary-navigation {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    min-height: 61rem;
  }
  .hero h3 {
    display: block;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Mono";
    font-size: var(--font-sm);
    font-weight: 400;
    width: 77rem;
  }
  .section-heading {
    justify-content: flex-start;
    margin-top: var(--space-xxl);
    margin-left: 148px;
  }
  .article-card {
    display: none;
  }
  .article-card-desktop {
    display: flex;
    justify-content: space-between;
    margin: var(--space-xl) var(--space-md);
    border-radius: 2rem;
    padding: var(--space-lg) 116px;
    gap: var(--space-xxl);
    align-items: center;
  }
  .card-description {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    order: 2;
    text-align: left;
  }
  .card-description h2 {
    text-align: left;
  }
}
