* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}
