/* ==== IMPORTS ==== */
@import url("variables.css");
@import url("reset.css");
@import url("utility-classes.css");
@import url("components.css");
/* ==== BASE ==== */
body {
  width: 100%;
  background-color: var(--primary-bcg);
  color: var(--primary-txt);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}
/* ==== HEADER ==== */
#desktop-logo {
  display: none;
}
.logo {
  font-size: var(--font-sm);
  font-family: var(--logo-font);
  font-weight: 500;
}
nav {
  display: none;
}
.hero h3 {
  display: none;
}
#mobile-menu {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xs);
  align-items: center;
}
#mobile-menu-icon {
  font-size: 5rem;
  cursor: pointer;
}
/* ==== MAIN ==== */
/* Hero section */
.hero {
  position: relative;
  background-image: url(../assets/images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  z-index: 1;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-md);
  margin-top: 1.6rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
.hero h1 {
  color: #fff;
}
/* ==== HEADINGS ==== */
.main-heading {
  font-size: var(--font-lg);
  color: var(--main-header-txt);
  font-family: var(--header-font);
  font-weight: 700;
}
.section-header {
  font-family: var(--header-font);
  font-size: var(--font-md);
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.card-header {
  font-family: var(--header-font);
  font-size: var(--font-md);
  font-weight: 400;
  text-align: center;
}
/* ==== EVENTS ==== */
.events-section {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-lg);
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-top: var(--space-sm);
}
.article-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.article-card h2,
.article-card .card-description,
.info-card {
  padding: 0 var(--space-xs);
}
.card-header {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Space Mono";
  font-size: 32px;
  font-weight: 400;
}
article h2 {
  order: 1;
}
article img {
  order: 2;
  margin: 0 var(--space-xs);
}
article .card-description {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
}
.card-description-text,
.info-card p {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 157.165%;
}
/* ==== INFO CARD ==== */
.info-card {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.info-header {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Space Mono";
  font-size: var(--font-sm);
  font-weight: 700;
  text-align: center;
}
