/* ==== IMPORTS ==== */
@import url("variables.css");
@import url("reset.css");
@import url("utility-classes.css");
/* ==== BASE ==== */
body {
  width: 100%;
  background-color: var(--primary-bcg);
  color: var(--primary-txt);
  display: flex;
  flex-direction: column;
}
/* ==== HEADER ==== */
#desktop-logo {
  display: none;
}
nav {
  display: none;
}
.hero h3 {
  display: none;
}
#mobile-menu {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xs);
}
/* ==== MAIN ==== */
/* Hero section */
.hero {
  position: relative;
  background-image: url(../assets/images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  z-index: 1;
  min-height: 45rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
