/* ==== IMPORTS ==== */
@import url("variables.css");
@import url("reset.css");
@import url("utility-classes.css");
@import url("components.css");
/* ==== BASE ==== */
body {
  width: 100%;
  background-color: var(--primary-bcg);
  color: var(--primary-txt);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}
/* Hidden elements */
nav,
.hero h3,
.secondary-navigation,
#desktop-logo {
  display: none;
}
/* ==== HEADER ==== */
.logo {
  font-size: var(--font-sm);
  font-family: var(--logo-font);
  font-weight: 500;
}
/* Mobile nav */
#mobile-menu {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--primary-bcg);
  z-index: 999;
  height: 52rem;
  top: 15rem;
  padding: var(--space-sm) var(--space-xs);
  align-items: center;
  color: var(--primary-txt);
}
#mobile-menu i {
  font-size: 5rem;
  cursor: pointer;
}
.close-btn-heading {
  display: flex;
  margin: var(--space-sm --space-xs);
  align-items: center;
}
.close-btn-heading h2 {
  text-align: center;
  margin: 0 auto;
}
#mobile-menu:target {
  display: block;
}
.mobile-nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  margin-top: var(--space-sm);
  font-family: "Space Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xs);
  align-items: center;
}
#mobile-menu-icon {
  font-size: 5rem;
  cursor: pointer;
}
/* ==== MAIN ==== */
/* Hero section */
.hero {
  position: relative;
  background-image: url(../assets/images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  z-index: 1;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-md);
  margin-top: 1.6rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
.hero h1 {
  color: #fff;
}
/* ==== HEADINGS ==== */
.main-heading {
  font-size: var(--font-lg);
  color: var(--primary-txt);
  font-family: var(--heading-font);
  font-weight: 700;
}
.section-heading {
  font-family: var(--heading-font);
  font-size: var(--font-md);
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.card-heading {
  font-family: var(--heading-font);
  font-size: var(--font-md);
  font-weight: 400;
  text-align: center;
}
/* ==== SECTIONS ==== */
.events-section,
.exhibits-section {
  margin-top: var(--space-lg);
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-top: var(--space-sm);
}
.article-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-xs);
}
.card-heading {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: 400;
}
article h2 {
  order: 1;
}
article img {
  order: 2;
  height: 42rem;
  object-fit: cover;
  border-radius: 2rem;
}
article .card-description {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
}
.card-description-text,
.info-card p {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 157.165%;
}
/* ==== INFO CARD ==== */
.info-card {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-xs);
}
.info-heading {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Space Mono";
  font-size: var(--font-md);
  font-weight: 700;
  text-align: center;
}
/* Newsletter */
.info-card form {
  display: flex;
  flex-direction: column;
}
.info-card form label {
  font-size: 24px;
  font-weight: 400;
  line-height: 157.165%;
}
.info-card form input {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: var(--space-sm);
  padding: 0.5rem;
}
/* ==== Footer ==== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-lg) 0;
  color: #fff;
  background-color: var(--footer-bcg);
  font-size: var(--font-sm);
  font-weight: 400;
}
.footer-item {
  gap: var(--space-xs);
  text-align: left;
  line-height: 157.165%;
}
.footer-heading {
  text-align: left;
  font-family: "Space Mono";
  font-size: var(--font-md);
  font-weight: 700;
}
footer a {
  color: var(--accent-txt);
}
footer a:hover {
  text-decoration: underline;
}
