@import url("variables.css");
/* ==== Spacing ==== */
/* Margin */
.mg-tb {
  margin: 4.8rem 0 3.2rem 0;
}
.mg-top {
  margin-top: 4.8rem;
}
.mg-bottom {
  margin-bottom: 3.2rem;
}
.mg-lr {
  margin: 0 1.6rem;
}
/* ==== SECTION BACKGROUNDS ==== */
.bcg-green {
  background-color: var(--section-green);
}
.bcg-orange {
  background-color: var(--section-orange);
}
.bcg-blue {
  background-color: var(--section-blue);
}
.bcg-yellow {
  background-color: var(--section-yellow);
}

.txt-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.img-shadow-l {
  box-shadow: -4px 8px 4px 0 rgba(0, 0, 0, 0.25);
}
.img-shadow-r {
  box-shadow: 4px 8px 4px 0 rgba(0, 0, 0, 0.25);
}
/* ==== FLEX ==== */
.flex {
  display: flex;
}
/* Flex column */
.flex-column {
  flex-direction: column;
}
/* Flex center */
.flex-center {
  justify-content: center;
  align-items: center;
}
/* Flex space between */
.flex-space-between {
  justify-content: space-between;
}
