:root {
  /* ==== FONTS ==== */
  --logo-font: "Space Grotesk", sans-serif;
  --header-font: "space-mono", monospace;
  --body-font: "Suravaram", serif;
  /* ==== FONT SIZES ==== */
  --font-sm: 2.4rem;
  --font-md: 3.2rem;
  --font-lg: 5.6rem;
  /* ==== COLORS ==== */
  /* Text colors */
  --primary-txt: #2f2f2f;
  --secondary-txt: #fff;
  --btn-txt: #141414;
  --accent-txt: #ffaa9f;

  /* Background colors */
  --primary-bcg: #eaeaea;
  --footer-bcg: #29333f;
  --btn-bcg: #68a4ff;

  /* Section backgrounds */
  --section-green: #94b433;
  --section-orange: #ffb65d;
  --section-blue: #cfe2ff;
  --section-yellow: #e5e749;
  /* ==== SPACING ==== */
  --space-xs: 1.6rem;
  --space-sm: 2.4rem;
  --space-md: 3.2rem;
  --space-lg: 4.8rem;
  --space-xl: 8rem;
  --space-xxl: 12rem;
}
